    body {
        width: 100%;
        margin: auto;
    }


@media (min-width: 768px) {
    body {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 960px) {
    body {
        width: 960px;
        margin: auto;
    }
}
body, section, div, main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav, aside, li, p, div, section {
    
    text-align: center;
}

div {    
    list-style-type: none;
}   